#units-unit-overview-form th.factor {
  width: 0;
}

#units-unit-overview-form td.factor {
  text-align: right;
  padding-right: 20px;
}

#units-unit-overview-form .canonical {
  font-weight: bold;
}
