body.forbidden-403,
body.not-found-404 {

  h1 {
    background: none;
  }

  #block-system-main {
    background: none;
    text-align: center;
    color: white;
  }

  #block-user-login {
    position: static;
    display: table;
    margin: $vertical-tabs-padding auto;
    transform: translate(0, 0);
  }
}
