body.page-eform-submit .page {
  .block {
    background: $siasar-dark-grey;
    padding: 0;
  }

  h1 {
    font-size: 2rem;
    text-align: left;
    background: none;
    line-height: 1.2;
    padding-left: 5px;

    @include breakpoint($break-small) {
      font-size: 2.75rem;
    }
  }
}


form.entityform {

  .vertical-tabs {
    border: none;
    margin: 0 0 20px 0;

    @include breakpoint($break-small) {
      margin-left: 10em;
    }
    @include breakpoint($break-medium) {
      margin-left: 15em;
    }
  }

  // Tabs
  .vertical-tabs-list {
    border: none;
    margin-top: 0;
    display: none;

    @include breakpoint($break-small) {
      display: block;
      width: 10em;
      margin-left: -10em;
    }
    @include breakpoint($break-medium) {
      width: 15em;
      margin-left: -15em;
    }

    li.vertical-tab-button {
      min-width: 10em;
      border: none;
      border-radius: $siasar-border-radius 0 0 $siasar-border-radius;
      margin-bottom: 3px;
      background: $siasar-orange;
      box-shadow: $shadow-tabs;
      border-right: $siasar-orange - #111111 solid 2px;

      &:hover {
        background-color: $siasar-light-orange;
      }

      a {
        color: white;
        text-decoration: none;
        padding: 0.4em;

        &:hover,
        &:hover strong,
        &:focus strong {
          text-decoration: none;
        }
      }

      &.selected {
        background-color: white;
        border-color: white;
      }
    }
  }

  // Form elements
  .vertical-tabs-panes {
    background-color: white;
    border: none;
    padding: 0;

    @include breakpoint($break-small) {
      padding: $vertical-tabs-padding;
    }
    @include breakpoint($break-medium) {
      padding: $vertical-tabs-padding * 2;
    }

    fieldset.vertical-tabs-pane {
      transition: max-height $transition-time $transition-curve;
      max-height: 3000px;
      overflow-y: hidden;

      @include breakpoint($break-small) {
        overflow: visible;
      }

      > legend {
        display: block;
        width: calc(100% + 40px);
        position: static;
        margin: 0;
        background: url('../img/triangle_white_open.svg') 5px 8px no-repeat $siasar-orange;
        background-size: 15px 15px;
        padding-left: 30px;
        box-shadow: $shadow-interactive;
        cursor: pointer;
        font-size: 1.5rem;

        @include breakpoint($break-small) {
          display: none;
        }
      }
      > .fieldset-wrapper {
        padding: $vertical-tabs-padding;
      }

      &.closed {
        max-height: 36px; // required for animation
        transition: max-height $transition-time/2 $transition-curve;

        @include breakpoint($break-small) {
          max-height: 10000px;
        }

        > legend {
          background-image: url('../img/triangle_white_closed.svg');
        }
      }
    }

    fieldset {
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;

      legend {
        color: white;
        background: $siasar-dark-cyan;
        font-size: 1.25rem;
        padding: 3px 20px;
        position: relative;
        left: -$vertical-tabs-padding;

        @include breakpoint($break-medium) {
          left: -$vertical-tabs-padding * 2;
        }

        a {
          color: white;
        }
      }

      .field-group-fieldset {
        padding: $vertical-tabs-padding/2 0;
        margin-top: 50px;
        margin-bottom: 50px;

        @include breakpoint($break-medium) {
          padding: $vertical-tabs-padding 0;
        }

        &:first-child {
          margin-top: 0;
        }

        fieldset.form-wrapper {
          padding: 10px 0 0 20px;
          margin: 20px 0 30px 20px;
          overflow: visible;

          legend {
            float: left;
            padding: 0;
            background: white;
            color: $siasar-dark-cyan;
            font-size: 1rem;
          }

          > .fieldset-wrapper {
            float: left;
            border-left: solid $siasar-dark-cyan 2px;
            padding-left: 20px;
            margin: 0;

            .form-item:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }

    .form-wrapper:not(:first-child) {
      margin-top: 30px;
    }
  }

  // Buttons in form
  .field-type-field-collection .field-multiple-table input.form-submit {
    background-image: url('../img/cross.svg');
    background-color: $siasar-red;
    background-size: 20px;
    padding-left: 50px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;

    @include breakpoint($break-small) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  input.field-add-more-submit {
    background-image: url('../img/plus.svg');
    background-color: $siasar-orange;
    background-size: 20px;
    padding-left: 50px;
    margin-top: 20px;
  }

  .image-widget input[type=submit] {
    background-image: url('../img/arrow_up.svg');
    background-color: $siasar-orange;
    background-size: 20px;
    padding-left: 50px;
    margin-left: 20px;
  }

  .form-actions {
    text-align: right;

    input {
      margin-left: 20px;
    }
  }

}
