body.page-questionnaires {

  .page,
  .main.container {
    max-width: 400px;
  }

  #block-system-main {
    background-color: transparent;
  }

  .view-questionnaires {
    ul {
      margin: 0;
    }

    li {
      display: block;
      float: left;
      position: relative;
      width: 100%;
      margin: 0;
      background: white;

      &:first-child a {
        padding-top: 18px;

        @include breakpoint($break-small) {
          padding-top: 25px;
        }
      }

      &:last-child a {
        padding-bottom: 18px;

        @include breakpoint($break-small) {
          padding-bottom: 25px;
        }
      }

      a {
        display: block;
        padding: 15px;
        width: 100%;
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
        line-height: 1;
        transition: background-color ($transition-time / 3) linear;

        @include breakpoint($break-small) {
          padding: 20px;
          font-size: 1.5rem;
        }

        &:hover {
          background: $siasar-yellow;
        }
      }
    }
  }
}
