[submodule "sites/all/modules/custom_modules/field_validation_match_against_form_value"]
	path = sites/all/modules/custom_modules/field_validation_match_against_form_value
	url = git://git.drupal.org/sandbox/nachenko/2842392.git
	branch = 7.x-1.x
