.block {
  h4 {
    text-align: center;
  }
}

// ***
// Login block
// ***
#block-user-login {
  min-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .input-field label {
    font-size: .8rem;
    transform: translateY(-140%);
  }

  .item-list a {
    font-size: 0.8em;
  }
}
