.region-user-nav {
  text-align: right;
}

ul.main-menu,
ul.user-menu {
  display: inline-block;
}

ul.user-menu {

  &:before {
    color: $siasar-light-cyan;
    content: "|";
    display: block;
    float: left;
  }
}
