.region-user-nav {
  text-align: center;
  @include breakpoint($break-medium) {
    text-align: right;
  }
  .responsive-menu-toggle {
    display: inline-block;
    font-size: 54px;
    line-height: 64px;
    @include breakpoint($break-medium) {
      display: none;
    }
  }
}

ul.main-menu{
  border-top: 1px solid #FFFFFF;
  @include breakpoint($break-medium) {
    border-top: none;
  }
}

ul.main-menu,
ul.user-menu {
  display: none;
  @include breakpoint($break-medium) {
    display: inline-block !important;
  }
  li {
    float: none;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
    @include breakpoint($break-medium) {
      border-bottom: none;
      float: left;
      text-align: right;
    }
  }
}



ul.user-menu {
  @include breakpoint($break-medium) {
    &:before {
      color: $siasar-light-cyan;
      content: "|";
      display: block;
      float: left;
    }
  }
}
ul.responsive-menu {
  background-color: $siasar-cyan;
  display: block;
  border-top: 1px solid #FFFFFF;
  li {
    float: none;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
  }
  @include breakpoint($break-medium) {
    display: none;
  }
}
