// Theme SASS variables

// Breakpoints
$break-small: 600px;
$break-medium: 960px;
$break-large: 1280px;
$break-xlarge: 1600px;


// Colors
$siasar-blue: #096396;
$siasar-dark-blue: #094069;

$siasar-green: #26c726;

$siasar-red: #bf1d50;

$siasar-cyan: #00add2;
$siasar-dark-cyan: #00829e;
$siasar-light-cyan: #8edced;
$siasar-light-grey: #d8d8d8;
$siasar-almost-white: #f1f1f1;


// Layout variables
$layout-max-width: 1240px;
$left-box: 625px;

