@import url("https://fonts.googleapis.com/css?family=Nunito");
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  position: relative;
  background-color: #666;
}
body.not-logged-in {
  background-color: #00829e;
}

h1, h2, h3, h4 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #00add2;
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  background: #096396;
  color: white;
}

h4 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

.page {
  max-width: 1280px;
  margin: 80px auto;
}
@media (min-width: 600px) {
  .page {
    margin: 100px auto;
  }
}
@media (min-width: 992px) {
  .page {
    margin: 120px auto;
  }
}
.page .main {
  padding: 0;
}
.page .block {
  background: white;
  padding: 20px;
}

.btn {
  background-color: #26c726;
  text-transform: lowercase;
  border-radius: 5px;
}
.btn.form-submit {
  background-image: url("../img/tick.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-left: 55px;
  padding-right: 25px;
}

input.form-text {
  box-sizing: border-box;
  padding-left: 10px;
  background-color: white;
  border: solid #ccc 2px;
}
input.form-text:focus {
  border-bottom-width: 2px;
}

span.form-required {
  color: #c1272d;
  font-weight: bold;
}

.header-menu {
  background: #00add2;
}
.header-menu .nav-wrapper {
  width: 100%;
}
.header-menu a.brand-logo {
  top: 0;
  display: block;
  font-size: 1rem;
  width: 100px;
  height: 100px;
  background-color: #00add2;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14), 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 4px 4px -3px rgba(0, 0, 0, 0.2);
}
@media (min-width: 600px) {
  .header-menu a.brand-logo {
    top: 10px;
  }
}
@media (min-width: 992px) {
  .header-menu a.brand-logo {
    left: 20px;
  }
}
.header-menu a.brand-logo img {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  top: 25px;
  left: 25px;
}

.block h4 {
  text-align: center;
}

#block-system-main {
  padding: 0;
}

#block-user-login {
  background: white;
  min-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#block-user-login .input-field label {
  font-size: .8rem;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}
#block-user-login .item-list a {
  font-size: 0.8em;
}

body.page-eform-submit .page .block {
  background: #666;
  padding: 0;
}
body.page-eform-submit .page h1 {
  font-size: 2.75rem;
  text-align: left;
  background: none;
  line-height: 1.2;
}

form.entityform .vertical-tabs {
  border: none;
  margin-top: 0;
  margin-bottom: 20px;
}
form.entityform .vertical-tabs-list {
  border: none;
  margin-top: 0;
}
form.entityform .vertical-tabs-list li {
  border: none;
  border-radius: 5px 0 0 5px;
  margin-bottom: 3px;
  background: #de861b;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.4);
}
form.entityform .vertical-tabs-list li.first {
  border-top-left-radius: 0;
}
form.entityform .vertical-tabs-list li:hover {
  background-color: #ebb676;
}
form.entityform .vertical-tabs-list li a {
  color: white;
  text-decoration: none;
}
form.entityform .vertical-tabs-list li a:hover {
  text-decoration: none;
}
form.entityform .vertical-tabs-list li.selected {
  background-color: white;
}
form.entityform .vertical-tabs-list li.selected a {
  text-decoration: none;
}
form.entityform .vertical-tabs-panes {
  background-color: white;
  border: none;
  padding: 20px;
}
form.entityform fieldset {
  border: none;
  box-shadow: none;
}
form.entityform fieldset legend {
  font-size: 2rem;
}
form.entityform .form-actions {
  text-align: right;
}
form.entityform .form-actions input {
  margin-left: 20px;
}

/*# sourceMappingURL=style.css.map */