/**

 This mixin is in charge of making percentage calculations for each
 column without knowing the amount of items

Example:
@include distribute-all-items('.selector', 6);

.selector:nth-child(1):nth-last-child(1) {
  width: 100%;
}
.selector:nth-child(1):nth-last-child(2),
.selector:nth-child(2):nth-last-child(1) {
  width: 50%;
}
.selector:nth-child(1):nth-last-child(3),
.selector:nth-child(2):nth-last-child(2),
.selector:nth-child(3):nth-last-child(1) {
  width: calc(100% /3);
}
.selector:nth-child(1):nth-last-child(4),
.selector:nth-child(2):nth-last-child(3),
.selector:nth-child(3):nth-last-child(2),
.selector:nth-child(4):nth-last-child(1) {
  width: 25%;
}
.selector:nth-child(1):nth-last-child(5),
.selector:nth-child(2):nth-last-child(4),
.selector:nth-child(3):nth-last-child(3),
.selector:nth-child(4):nth-last-child(2),
.selector:nth-child(5):nth-last-child(1) {
  width: 20%;
}
.selector:nth-child(1):nth-last-child(6),
.selector:nth-child(2):nth-last-child(5),
.selector:nth-child(3):nth-last-child(4),
.selector:nth-child(4):nth-last-child(3),
.selector:nth-child(5):nth-last-child(2),
.selector:nth-child(6):nth-last-child(1) {
  width: calc(100% / 6);
}
*/
@mixin distribute-all-items($selector, $cols) {

  @for $pos from 1 through $cols {
    @include distribute-items($selector, $pos);
  }
}

@mixin distribute-items($selector, $cols) {
  $start: 1;
  $end: $cols;

  @for $pos from $start through $cols {
    #{$selector}:nth-child(#{$pos}):nth-last-child(#{$end}) {
      width: calc(100% / #{$cols});
    }
    $end: $end - 1;
  }

}