body.page-entityform-view {

  .field-name-field-status {
    .field-label,
    .field-items {
      height: 30px;
      line-height: 32px;
    }
    .field-label {
      width: 352px;
    }
    .field-items {
      background-size: contain;
      background-position: 325px center;
      background-repeat: no-repeat;
    }
  }

  .field-status-draft .field-items  {
    background-image: url(../img/workflow/draft.svg);
  }
  .field-status-finished .field-items  {
    background-image: url(../img/workflow/finished.svg);
  }
  .field-status-validated .field-items  {
    background-image: url(../img/workflow/validated.svg);
  }
}

body.page-eform-submit,
body.page-entityform-edit {

  input[id^=edit-workflow] {
    padding-left: 45px;
    padding-right: 20px;
    background-size: 20px;
  }

  #edit-workflow-2 {
    background-image: url(../img/workflow/draft-white.svg);
  }
  #edit-workflow-3 {
    background-image: url(../img/workflow/finished-white.svg);
  }
  #edit-workflow-4 {
    background-image: url(../img/workflow/validated-white.svg);
  }

}
