.views-field-entityform-revision {
  span.not-computable {
    width: 15px;
    height: 15px;
    background: $siasar-red;
    border-radius: 50px;
    display: inline-block;
  }

  span.computable {
    width: 15px;
    height: 15px;
    background: $siasar-green;
    border-radius: 50px;
    display: inline-block;
  }
}